@import "tailwindcss";

@theme {
  --color-page: #f8fafc;
  --color-card: #ffffff;
  --color-surface: #f1f5f9;
  --color-border-subtle: #e2e8f0;

  --color-text-main: #0f172a;
  --color-text-muted: #64748b;

  --color-brand: #3b82f6;
  --color-brand-fg: #ffffff;

  --color-macro-protein: #10b981;
  --color-macro-carbs: #f59e0b;
  --color-macro-fat: #ef4444;
}